* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: antiquewhite;
  text-align: center;
}

body {
  background: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 35px;
  margin: 10px 0 0 0;
}

span {
  font-size: 15px;
  margin: 50px 0 10px 0;
}

.version {
  margin: 10px 0 50px 0;
}

#pic-collage-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 90%;
}

#pic-collage-gallery img {
  width: calc(100% / 6 - 10px);
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

@media (max-width: 900px) {
  #pic-collage-gallery img {
    width: calc(100% / 3 - 10px);
  }
}

@media (max-width: 600px) {
  #pic-collage-gallery img {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 400px) {
  #pic-collage-gallery img {
    width: 100%;
  }
}
